:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; */

  /* color: #0f0f0f;
  background-color: #f6f6f6; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue: rgba(175, 195, 254, 1);
  --green: rgba(175, 254, 207, 1);
  --pink: rgba(241, 175, 254, 1);
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(250, 254, 175, 1);
  /* TODO: Don't store alpha here */
  --yellow-hover: rgba(250, 254, 175, 0.5);
}

html {
  margin: 0;
  font-size: 62.5%;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* .container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}*/

/* Utility classes */

/* Colors */
.bg-blue {
  background: var(--blue);
}

.bg-green {
  background: var(--green);
}

.bg-pink {
  background: var(--pink);
}

.bg-white {
  background: var(--white);
}

.text-black {
  color: rgba(0, 0, 0, 1)
}

/* Text */
.text-title {
  font-family: 'Poppins';
  font-size: 7.2rem;
  margin: 0;
}

.text-body-bold {
  font-family: 'Poppins';
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;  
}

.text-body {
  font-family: 'Poppins';
  font-size: 2.4rem;
  margin: 0;
}

.text-small {
  font-family: 'Poppins';
  font-size: 1.6rem;
  margin: 0;
}

/* Text alignment */
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* Text decorations */

.text-dec-none {
  text-decoration: none;
}

/* Components */

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 14px 35px;
  border-radius: 14px;
  border: 4px solid rgba(0, 0, 0, 1);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
  text-decoration: none;
}

.btn:hover {
  transform: translateX(6px) translateY(6px);
  box-shadow: none;
  cursor: pointer;
}

.btn-blank {
  border: none;
  background: none;
}

.btn-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 14px 35px;
  border-radius: 14px;
  border: none;
  box-shadow: none;
  background: none;
  text-decoration: none;
}

.btn-arrow svg {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.btn-arrow:hover {
  cursor: pointer;
}

.btn-arrow:hover svg {
  fill: black;
}

.icon-lg {
  width: 64px;
  height: 64px;
}

.star {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

.star:hover {
  fill: var(--yellow-hover);
}

.star-toggled {
  fill: var(--yellow);
}

.tag {
  background: var(--green);
  padding: 1rem 2rem;
  border-radius: 14px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.tag:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: none;
}

.tag-active {
  background: var(--pink);
}

/* END utility classes */

/* Actual app CSS */

.titlebar {
  height: 30px;
  background: var(--green);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.titlebar-normal-button:hover {
  background: var(--blue);
}

.titlebar-close-button:hover {
  background: var(--pink);
}

/* Home page */

.container {
  /* TODO: Center vertically */
  margin: 0;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 60px;
  width: auto;
  height: auto;
  margin: auto 6em;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.index-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.index-joke-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 40em;
  gap: 20px;
  padding: 40px;
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 14px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  width: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Browse page */

.browse-content {
  gap: 4em !important;
}

.browse-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.browse-home-button {
  position: absolute;
  left: 3em;
}

.fav-filter-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.tag-filter-input {
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
  /* --padding: 14px 35px; */
  --border-radius: 14px;
  --border: 4px solid rgba(0, 0, 0, 1);
  --font-size: 1.6rem;
  /* --height: 100px; */

  --input-color: var(--pink);

  width: 100%;
}

.browse-jokes-view {
  height: auto;
  max-height: 24em;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 14px;
  gap: 6em;
  padding: 40px;
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 14px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.browse-joke {
  display: flex;
  flex-direction: row;
  gap: 4em;
  align-items: center;
}

.browse-joke-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
